* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Quicksand, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.8rem 0;
}

.center {
  text-align: center;
}

.big-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.1rem;
  row-gap: 0.1rem;

  list-style: none;
  font-size: 4.8rem;
  margin: 3rem auto;
  width: 35vw;
  height: 35vw;
  cursor: pointer;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 7px;
  padding: 0.5rem 0.5rem 0.3rem 0.2rem;
}

.small-box {
  background-color: #d3d3d3;
  width: 8.4vw;
  height: 8.4vw;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(2%, -1%);
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: bold;
  color: #355275;
}

.heading-tertiary {
  font-size: 2.8rem;
  font-weight: 300;
  color: #121d26;

  transform: translate(16%, -625%);
}

.heading-game-over {
  font-size: 3.2rem;
  font-weight: bold;
  color: #020405;
  margin-top: 7rem;
}

.span-info {
  font-size: 3.6rem;
  font-weight: bold;
  color: #355275;
}
